<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='master.css')}}">
</head>
<body>
	<div id="page_container">
		<div id="main_nav">
		 
			<ul>
				<li id="home_page"><a href="/">Home</a>
				</li>
				<li id="graph"><a href="/Graphic">Graphes
				</a>
				</li>
			</ul>
		
		</div>
		<div id="header">
			<h1>
				<img src="http://www.dudmc.com/site/assets/files/1769/melbourn_at_night1.jpg" width="236" height="36" alt="Design" border="0" />
			</h1>
		</div>
		<div id="sidebar">
		<div class="padding">
		<ul>
				<li id="R1"><a href="/S1" >result 1</a>
				</li>
				<li id="R2"><a href="/S2" >result 2</a>
				</li>
				<li id="R3"><a href="/S3" ">result 3</a>
				</li>
			</ul>

		</div>
		</div>
		<div id="content">
		<div class="padding">
		<h2><img src="http://www.dudmc.com/site/assets/files/1769/melbourn_at_night1.jpg" width="54" height="14" alt="About" />ABout</h2>
		<p>
			2222222222222222222
		</p>
		<h2>Contact Us</h2>
		<p>
			kvdnskvlnfsklbnfk2222222222222222222<br/>
			rgsrsgrg222222222222222222222222222222222222222222222222222222222
		</p>
		<p>
			
		</p>
		</div>
		</div>
		<div id="footer">
		<div id="altnav">
		<a href="/">About</a>
		<a href="/">Services</a>
		<a href="/">Protfolio</a>	
		<a href="/">COntact</a>	
		<a href="/">Terms of Trade</a>		
		</div>
		COrytihguiherugihreuishgeusguri CCC 90024
		</div>
	</div>

</body>
</html>

