<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='master.css')}}">
</head>
<body>
	<div id="page_container">
		<div id="main_nav">
		 
			<ul>
				<li id="home_page"><a href="/">Home</a>
				</li>
				
			</ul>
		
		</div>
		<div id="header">
			<h1>
				<img src="https://pbs.twimg.com/profile_images/822085733376790528/VHg0pqH__400x400.jpg" width="128" height="128" alt="Design" border="0" />
			</h1>
		</div>
		<div id="sidebar">
		<div class="padding">
		<ul>
				<li><a href="/S2/map4" >Map 1</a>
				</li>
				<li><a href="/S2/map5" >Map 2</a>
				</li>
				
			</ul>

		</div>
		</div>
		<div id="content">
		<div class="padding">
		<h2><img src="http://www.dudmc.com/site/assets/files/1769/melbourn_at_night1.jpg" width="54" height="14" alt="About" />ABout</h2>
		<p>
			2222222222222222222
		</p>
		<h2>Contact Us</h2>
		<p>
			kvdnskvlnfsklbnfk2222222222222222222<br/>
			All teams must support sentiment analysis, e.g. searching for tweets containing positive sentiments (happy, ecstatic, ...), negative sentiments (unhappy, terrible, ...) or emoticons like ;o), :o), :), or :o(, >:o( etc and establishing whether people are happier in the morning or in the night time or if there are parts of their cities that are happier than others. Correlating such data with AURIN data should be supported. Teams should actively explore more advanced solutions for sentiment analysis rather than simple term searching, e.g. not happy is a negative sentiment and not unhappy is a neutral sentiment. In addition to this sentiment analysis scenario, teams should explore other scenarios using the AURIN data. Teams are encouraged to be creative here. A prize will be awarded for the most interesting scenarios identified! For example teams may look at scenarios such as:
		</p>
		<p>
			
		</p>
		</div>
		</div>
		<div id="footer">
		COMP90024_2018_SM1: Cluster and Cloud Computing
		</div>
	</div>

</body>
</html>

