<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='master.css')}}">
</head>
<body>
	<div id="page_container">
		<div id="main_nav">
		 
			<ul>
				<li id="home_page"><a href="/">Home</a>
				</li>
				
			</ul>
		
		</div>
		<div id="header">
			<h1>
				<img src="https://pbs.twimg.com/profile_images/822085733376790528/VHg0pqH__400x400.jpg" width="128" height="128" alt="Design" border="0" />
			</h1>
		</div>
		<div id="sidebar">
		<div class="padding">
		<ul>
				<li><a href="/S2/map4" >Map 1</a>
				</li>
				<li><a href="/S2/map5" >Map 2</a>
				</li>
				
			</ul>

		</div>
		</div>
		<div id="content">
		<div class="padding">
		
		<p>
			In this scenario, we were trying to investigate the relation between small business number of a certain suburb and how much happiness of people living in that certain suburb. We suppose there is a strong correlation between the two studied objects because employees working in a small company should have relatively less ambition than those working in a big company, less pressure coming from the work and life as well. Thus a positive result is what we expected.
		</p>
		
		</div>
		</div>
		<div id="footer">
		COMP90024_2018_SM1: Cluster and Cloud Computing
		</div>
	</div>

</body>
</html>

