<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='master.css')}}">
</head>
<body>
	<div id="page_container">
		<div id="main_nav">
		 
			<ul>
				<li id="home_page"><a href="/">Home</a>
				</li>
				
			</ul>
		
		</div>
		<div id="header">
			<h1>
				<img src="https://pbs.twimg.com/profile_images/822085733376790528/VHg0pqH__400x400.jpg" width="128" height="128" alt="Design" border="0" />
			</h1>
		</div>
		<div id="sidebar">
		<div class="padding">
		

		<h1>
				<img src="https://png.pngtree.com/element_origin_min_pic/16/12/23/c46b1d6c462666cee920622c06236ae3.jpg" width="384" height="384" alt="Design" border="0" />
		</h1>

		</div>
		</div>
		<div id="content">
		<div class="padding">
		<h2>
			Introduction
		</h2>
		<p>
			he economic situation is referred as the economic index rank. And we take the percentage of late night tweets in whole day tweets as the index of sleeping situation which is compared to the economic rank. The difference of two ranks should be small if they have a strong correlation. For example, Docklands (one of Victoria suburb) ranks at the first place for the people there sleeping late and being active after midnight, in the meantime, if the economic rank of Docklands is at the top, then we say they have a positive correlation
		</p>

		
		<p>
			<ul>
				<li><a href="/S3/chart" >Chart </a>
				</li>
				
			</ul>
		</p>

		</div>
		</div>
		<div id="footer">
		COMP90024_2018_SM1: Cluster and Cloud Computing
		</div>
	</div>

</body>
</html>

